<% provide(:title, 'Search Findings') %>

<h1>Search Findings</h1>

<% @searched_conditions.each do |key, value| %>
  <% value.each do |itemkey, item| %>
    <% item.each do |real_item| %>
      <%= content_tag "div", '', class: "hide #{key}SearchData", data: { searched: "#{real_item}" } %>
    <% end %>
  <% end %>
<% end %>

<%= render 'search_findings_form' %>

<% if @findings.count > 0 %>
	<div class="table-data search-findings">
  	<div class="table-data-content">
    	<ul class="table-data-header">
      	<li class="column-4"><a class="sorter" id="study">Study</a></li>
      	<li class="column-3"><a class="sorter" id="date">Date</a></li>
      	<li class="column-17"><a class="sorter" id="finding">Finding</a></li>
    	</ul>
  		<%= render @findings %>
  	</div>
	</div>
  <%= "#{@searched_conditions}" %>
	<%= will_paginate @findings %>
<% else %>
	No findings found.
<% end %>