<%= render 'shared/activity_type_error_messages' %>

<%= form_for(@activity_type) do |f| %>

  <div class="form-row">
    <div class="form-row-column column-12">
      <%= f.label :type_name %>
      <%= f.text_field :type_name, class: "focus" %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-row-column column-12">
      <%= f.label :description %>
      <%= f.text_field :description %>
    </div>
  </div>

  <div class="form-row">
    <div class="form-row-column column-12">
      <div class="symphony">
        <div class="btn-bg">
          <% if (params[:action] == 'new') | (params[:action] == 'create') %>
            <%= f.submit "Create Activity Type" %>
          <% else %>
            <%= f.submit "Edit Activity Type" %>
          <% end %>
        </div>
      </div>
    </div>
  </div>
<% end %>