<ul class="table-data-header">
  <li class="column-8"><a class="sorter" id="study">Study</a></li>
  <li class="column-3"><a class="sorter" id="date">Date</a></li>
  <li class="column-5"><a class="sorter" id="product">Product</a></li>
  <li class="column-5"><a class="sorter" id="platform">Platform</a></li>
</ul>
<% @studies.each do |study| %>
	<% product_text = "" %>
	<% platform_text = "" %>
	<ul class="table-data-row">
  	<li class="column-8 study"><%= link_to study.name, study %></li>
  	<li class="column-3 date"><%= study.date %></li>
  	<li class="column-5 product">
  	<% study.products.each do |product| %>
  		<% if product_text.empty? %>
  			<% product_text = product.product_name %>
  		<% else %>
  			<% product_text = product_text << "; " << product.product_name %>
  		<% end %>
  	<% end %>
  	<%= product_text %>
  </li>
  <li class="column-5 platform">
  	<% study.platforms.each do |platform| %>
  		<% if platform_text.empty? %>
  			<% platform_text = platform.platform_name %>
  		<% else %>
  			<% platform_text = platform_text << "; " << platform.platform_name %>
  		<% end %>
  	<% end %>
  	<%= platform_text %>
  </li>
  	<li class="column-3"><%= link_to "Edit", edit_study_path(study) %> | <%= link_to "Delete", study, method: :delete, data: { confirm: "You sure?" } %> | <%= link_to "Check", create_findings_path(study) %></li>
	</ul>
<% end %>