<div class="border-box gray">
	<div class="border-box-content">
		<div class="border-box white">
			<div class="border-box-content">
				<p>
					<strong>Date: </strong><%= @study.date.strftime("%m/%d/%Y") %>
				</p>

				<p>
					<strong>Product: </strong>
					<% first_product = true %>
					<% @study.products.each do |product| %>
						<% if first_product %>
							<%= link_to product.product_name, product %>
							<% first_product = false %>
						<% else %>
							, 
							<%= link_to product.product_name, product %>
						<% end %>
					<% end %>
				</p>

				<p>
					<strong>Platform: </strong>
					<% first_platform = true %>
					<% @study.platforms.each do |platform| %>
						<% if first_platform %>
							<%= link_to platform.platform_name, platform %>
							<% first_platform = false %>
						<% else %>
							, 
							<%= link_to platform.platform_name, platform %>
						<% end %>
					<% end %>
				</p>

				<p>
					<strong>Activity Type: </strong>
					<% first_type = true %>
					<% @study.activity_types.each do |type| %>
						<% if first_type %>
							<%= link_to type.type_name, type %>
							<% first_type = false %>
						<% else %>
							, 
							<%= link_to type.type_name, type %>
						<% end %>
					<% end %>
				</p>

				<p>
					<strong>Description: </strong><%= @study.description %>
				</p>

				<p>
					<strong>Participants: </strong><%= @study.participants %>
				</p>

				<p>
					<strong>Researcher: </strong><%= @study.researcher %>
				</p>

				<p>
					<strong>Designer: </strong><%= @study.designer %>
				</p>

				<% unless @study.presentation_url.nil? %>
					<p>
						<strong><%= link_to "Download Presentation", @study.presentation_url.to_s %></strong>
					</p>
				<% end %>

				<% if signed_in? %>
					<p>
						<strong>Live: </strong>
						<% if @study.live %>
							Yes
						<% else %>
							No
						<% end %>
					</p>
				<% end %>

			</div>
		</div>
	</div>
</div>