<div class="border-box gray">
	<div class="border-box-content">
		<div class="border-box white">
			<div class="border-box-content">
				<p>
					<strong>Date: </strong><%= @study.date.strftime("%m/%d/%Y") %>
				</p>
				<p>
					<strong>Product: </strong>
					<% product_text = "" %>
					<% @study.products.each do |product| %>
						<% if product_text.empty? %>
							<% product_text = product.product_name %>
						<% else %>
							<% product_text = product_text << "; " << product.product_name %>
						<% end %>
					<% end %>
					<%= product_text %>
				</p>
				<p>
					<strong>Platform: </strong>
					<% platform_text = "" %>
					<% @study.platforms.each do |platform| %>
						<% if platform_text.empty? %>
							<% platform_text = platform.platform_name %>
						<% else %>
							<% platform_text = platform_text << "; " << platform.platform_name %>
						<% end %>
					<% end %>
					<%= platform_text %>
				</p>
				<p>
					<strong>Activity Type: </strong>
					<% activity_type_text = "" %>
					<% @study.activity_types.each do |activity_type| %>
						<% if activity_type_text.empty? %>
							<% activity_type_text = activity_type.type_name %>
						<% else %>
							<% activity_type_text = activity_type_text << "; " << activity_type.type_name %>
						<% end %>
					<% end %>
					<%= activity_type_text %>
				</p>
				<p>
					<strong>Description: </strong><%= @study.description %>
				</p>
				<p>
					<strong>Participants: </strong><%= @study.participants %>
				</p>
				<p>
					<strong>Researcher: </strong><%= @study.researcher %>
				</p>
				<p>
					<strong>Designer: </strong><%= @study.designer %>
				</p>
				<% if @study.presentation_url.nil? %>
				<% else %>
					<p>
						<strong><%= link_to "Download Presentation", @study.presentation_url.to_s %></strong>
					</p>
				<% end %>
			</div>
		</div>
	</div>
</div>