<% provide(:title, 'Search Findings') %>
<h1>Search the Findings Database</h1>
<%= form_for @search do |f| %>
  <div class="form-row">
    <%= f.label :description %>
    <%= f.text_field :description %>
  </div>
  <div class="form-row">
    <div class="form-row-column column-11">
      <%= f.label :product %>
      <%= f.text_field :product %>
    </div>
    <div class="form-row-column column-11 push-2">
      <%= f.label :platform %>
      <%= f.text_field :platform %>
    </div>
  </div>
  <div class="form-row">
    <div class="form-row-column column-11">
      <%= f.label :study %>
      <%= f.text_field :study %>
    </div>
  </div>
  <div class="form-row">
    <div class="symphony">
      <div class="btn-bg">
        <%= f.submit "Search" %>
      </div>
    </div>
  </div>
<% end %>

