<%= form_for @search do |f| %>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="field">
    <%= f.label :product %><br />
    <%= f.text_field :product %>
  </div>
  <div class="field">
    <%= f.label :platform %><br />
    <%= f.text_field :platform %>
  </div>
  <div class="field">
    <%= f.label :study %><br />
    <%= f.text_field :study %>
  </div>
  <div class="actions"><%= f.submit "Search" %></div>
<% end %>

