<div class="header">
 	<div class="header-logo">
  	<%= link_to "home", root_path, id: "logo" %>
  </div>
  <div class="header-nav">
    <ul class="nav-links">
      <%= nav_link "Home", root_path %>
      <%= nav_link "Help", help_path %>
      <%= nav_link "Studies", studies_path %>
      <%= nav_link "Search Findings", new_search_path %>
      <%= nav_link "All Findings", findings_search_path %>
      <li class="last-child"><a href="/logout/link">Log Out</a></li>
   	</ul>
  </div>
</div>