<div class="header">
 	<div class="header-logo">
  	<%= link_to "home", root_path, id: "logo" %>
  </div>
  <div class="header-nav">
    <ul class="nav-links">
      <%= nav_link "Home", root_path %>
      <%= nav_link "Help", help_path %>
      <%= nav_link "Studies", studies_path %>
      <%= nav_link "All Findings", all_findings_path %>
      <%= nav_link "Search Findings", new_search_path %>
      <% if signed_in? %>
        <% if current_user.admin? %>
          <%= nav_link "Users", users_path %>
        <% end %>
        <li class="last-child"><%= link_to "Log Out", signout_path, method: "delete" %></li>
      <% else %>
        <li class="last-child"><%= link_to "Log In", signin_path %></li>
      <% end %>
      </li>
   	</ul>
  </div>
</div>