<!DOCTYPE html>
<html lang="en-GB">
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= render 'layouts/osd_css' %>
  <%= render 'layouts/osd_js' %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>

  <%= csrf_meta_tags %>
</head>
<body class="col no-sidebar">
	<div class="container">
		<%= render 'layouts/header' %>
		<% flash.each do |key, value| %>
      <div class="message-banner <%= key %>-banner sheet hide">
      	<div class="banner-content">
      		<%= content_tag(:p, value) %>
      	</div>
      </div>
    <% end %>
    <div class="container-content">
    	<div class="main">
				<%= yield %>
			</div>
			<div class="clear-both"></div>
		</div>
		<%= render 'layouts/footer' %>
		<%= debug(params) if Rails.env.development? %>
	</div>
</body>
</html>
