<!DOCTYPE html>
<html>
<head>
  <title><%= full_title(yield(:title)) %></title>
  <%= render 'layouts/osd_css' %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body class="col no-sidebar">
	<div class="container">
		<%= render 'layouts/header' %>
    <div class="container-content">
    	<div class="main">
				<%= yield %>
			</div>
			<div class="clear-both"></div>
		</div>
		<%= render 'layouts/footer' %>
	</div>
	<%= render 'layouts/osd_js' %>
</body>
</html>
